### Q1

Name the four built-in data structures in python. Give one examples for each

In [ ]:
# dictionary
x= {}
# set
y= {1,2,8,7,5}
# list
z= [1,5,4,5,3]
# Tuple
a= tuple((1,2,3))

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
A list is mutable while tuple immutable
A list uses a square bracket[] while a tuple uses culy bracket{}

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [2]:
animal_list = ["cat","dog","rat","mouse","racoon"]

In [4]:
print(animal_list[0:2])

['cat', 'dog']

In [5]:
animal_list[-2:]

['mouse', 'racoon']

In [14]:
animal_list.extend(["horse","bear"])
animal_list

['cat', 'dog', 'rat', 'mouse', 'racoon', 'monkey', 'horse', 'bear']

In [17]:
animal_list.remove("cat")
animal_list.remove("dog")

In [19]:
len(animal_list)

6

In [21]:
animal_set = set(animal_list)
animal_set

{'bear', 'horse', 'monkey', 'mouse', 'racoon', 'rat'}

In [22]:
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [24]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
first= suitcase[0:2]
print(first)

['sunglasses', 'hat']

In [26]:
middle = suitcase[2:4]
middle

['passport', 'laptop']

In [28]:
last = suitcase[4:]
last

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [29]:
values = [20,25,30,40,45,50,55,60,65,70]
values.insert(3,35)

In [30]:
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
when the data does require to be changed or updated

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [32]:
region_capital= {"Central": "Cape coast",
      "Greater Accra": "Accra",
      "Eastern": "Koforidua",
      "Ashanti": "Kumasi",
      "Western": "Takoradi"}

In [33]:
region_capital.keys()

dict_keys(['Central', 'Greater Accra', 'Eastern', 'Ashanti', 'Western'])

In [34]:
region_capital.values()

dict_values(['Cape coast', 'Accra', 'Koforidua', 'Kumasi', 'Takoradi'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [49]:
values = [3,4,5,6,3,4,3,3,5,2,4,2,5,6,1,6]
len(values)

16

3

In [44]:
values_set= set(values)
values_set

{1, 2, 3, 4, 5, 6}

In [48]:
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [54]:
a= {}
for num in range(1,16):
    a[num]= num**2
    
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [59]:
values = ['x','y','z']

x = {}
for a in values:
    if a== 'x':
        x[a]= list(range(1,21))
    elif a == 'y':
        x[a]= list(range(21,31))
    else:
        x[a]= list(range(31,40))
for a in values:
    print(f'{a}: {x[a][4]}')

x: 5
y: 25
z: 35